$whiteBgL: #F2F2F2;
$sideContL: #262C49;
$sideContactiveL: #1A1F3A;
$border-col: rgb(255, 28, 134);
$blackPL: #0D0D0D;
$midPinkL: #D91A73;
$containerL: #EBEBEB;

$darkbgD: #1A1F3A;
$sideContD: #262C49;
$sideContactiveD: rgb(50, 57, 95);
$whitePD:#FFFFFF;
$midPinkD: rgb(228, 65, 141);
$containerD: #1b305a;

$iconY: rgb(240, 216, 3);
$iconR: rgb(206, 7, 56);
$iconB: rgb(206, 249, 250);
$iconGr: rgba(165, 141, 168, 0.884);

$light-gray: #eceef1;
$grayL: darken(#eceef1, 30%);
$slate: darken(#eceef1, 70%);
$turquoise: #1abc9c;